<div id="principal">
    <h1>Project</h1>
    <div class="mytextcard">
        <div class="projectcard">
            <div class="projinfo">
                <h2>{{project.pname}} // {{project.pyear}}</h2>
                <p>{{project.pdesc}}</p>
            </div>
            <div class="divimage" style="text-align: center; margin-top: 20px;">
                
                <img src="/img/{{project.pimgURL}}" alt="{{project.pname}}" class="bigimage" style="max-width: 100%; height: auto; border-radius: 8px;">
            </div>
        </div>
    </div>
</div>